version: '3.9'

services:
  backend:
    build:
      context: ./backend
      dockerfile: dockerfile
    container_name: taskhub-backend
    image: taskhub-backend
    ports:
      - "3001:3001"
    depends_on:
      - mysql
    environment:
      - DB_HOST=mysql
      - DB_USER=root
      - DB_PASSWORD=123456
      - DB_NAME=taskhub

  mysql:
    image: mysql:8.0
    container_name: taskhub-mysql
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: taskhub
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
